.sidebar-container{
    background-color: #EBF2F7;
    height: 100vh;
    width: 28vw;
    /* border: 1px solid gray; */
    box-shadow: 1px 1px 10px gray;
    /* padding-left: 10px; */
    border-top-left-radius: 2rem;
    z-index: 100;
    position: fixed;
}
.profile-container{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;

}
.profile-photo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.toggle-container{
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
}
.icon{
    font-size: 70px;
    /* width: 50%; */
    background-color: #E2E9F0;
}
.feedback-container{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
}
.feedback-listening{
    background-color: #97EDC7;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.feedback-active{
    background-color: #EAA4A7;
}
.active{
    background-color: #99F0CA;
}
a{
    text-decoration: none;
    color: black;
}